<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<title>LUCA STEAM</title>
</head>
<body>


	<div class="container" id="contenedor">
		
		<div align="center">
			<h2>Añade / modifica un juego</h2>

			<form 
			method="POST" 
			th:object="${juego}" 
			th:action="@{/save}">
				<input id="id" th:field="*{id}" type="hidden"/>	
				<table>
					<tr>
						<td><label for="name">Nombre del juego:</label></td>
						<td><input type="text" th:field="*{name}" /></td>
					</tr>
					<tr>
						<td><label for="platform">Plataforma:</label></td>
						<td><input type="text" th:field="*{platform}" /></td>
					</tr>
					<tr>
						<td><label for="anio">Año del juego:</label></td>
						<td><input type="number" th:field="*{anio}" /></td>
					</tr>
					<tr>
						<td><label for="genre">Género:</label></td>
						<td><input type="text" th:field="*{genre}" /></td>
					</tr>
					<tr>
						<td><label for="publisher">Editor:</label></td>
						<td><input type="text" th:field="*{publisher}" /></td>
					</tr>
					<tr>
						<td><label for="rango">Posición:</label></td>
						<td><input type="number" th:field="*{rango}" /></td>
					</tr>
					<tr>
						<td><label for="naSales">Número de ventas Norteamérica: </label></td>
						<td><input type="number" th:field="*{naSales}" /></td>
					</tr>
					<tr>
						<td><label for="euSales">Número de ventas europeas: </label></td>
						<td><input type="number" th:field="*{euSales}" /></td>
					</tr>
					<tr>
						<td><label for="jpSales">Número de ventas en Japón: </label></td>
						<td><input type="number" th:field="*{jpSales}" /></td>
					</tr>
					<tr>
						<td><label for="otherSales">Otras ventas: </label></td>
						<td><input type="number" th:field="*{otherSales}" /></td>
					</tr>
					<tr>
						<td><label for="globalSales">Número de ventas globales: </label></td>
						<td><input type="number" th:field="*{globalSales}" /></td>
					</tr>
					
					<tr>
						<td colspan="2" align="center"><input type="submit"
							value="Guardar Registro"></td>
							 
					</tr>
				</table>
				 </div>	
			</form>

		</div>
	</div>
</body>
</html>
