<!-- Lista por Año HTML 
	autor: desiree
	version: 24/06/2021/A-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>

<body>
    <div class="container" id="contenedor">

        <h1>LucaSteam</h1>
        <h2>Listado de Juegos por Año</h2>

        <table>
            <tr>
                <th>ID</th>
                <th>Rango</th>
                <th>Name</th>
                <th>Platform</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Publisher</th>
                <th>NA Sales</th>
                <th>EU Sales</th>
                <th>JP Sales</th>
                <th>Other Sales</th>
                <th>Global Sales</th>
            </tr>
            <tr th:each="juego, status:${juegosListAño}">
                <td th:text="${status.index+1}" />
                <td th:text="${juego.rango}" />
                <td th:text="${juego.name}" />
                <td th:text="${juego.platform}" />
                <td th:text="${juego.anio}" />
                <td th:text="${juego.genre}" />
                <td th:text="${juego.publisher}" />
                <td th:text="${juego.naSales}" />
                <td th:text="${juego.euSales}" />
                <td th:text="${juego.jpSales}" />
                <td th:text="${juego.otherSales}" />
                <td th:text="${juego.globalSales}" />
                <td><a th:href="@{/edit(id=${juego.id})}">Modificar Juego</a> | 
                    <a th:href="@{/delete(id=${juego.id})}">Eliminar Juego</a></td>
            </tr>
        </table>
        <a href="/salir" class="btn btn-primary">Volver al listado</a>
    </div>
</body>

</html>